/* Font Styles */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/* Root Styles */
:root {
    font-size: 16px;
}


/* Color Codes */
:root {
    --light-blue: #BAE2F9;
    --lighter-light-blue: #EAF4FC;
    --darker-light-blue: #74ACE4;
    --light-pink: #F9DCE5;
    --darker-light-pink: #F5C4D4;
}


/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--light-blue);
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.form-container,
.books-container {
    margin: 1.5rem 4.5rem;
}

.new-book-form {
    display: grid;
    grid-template-columns: 40% 20% 10% 15% 10%;
    gap: 1%;
}

input {
    padding: 0.1rem 0.3rem;
    border: 2px solid var(--darker-light-pink);
    border-radius: 0.5rem;
}

.add-book-btn {
    align-self: center;
    width: 100%;
    border: 1px solid var(--darker-light-pink);
    border-radius: 1rem;
    font-size: 1rem;
}

.add-book-btn:hover {
    background-color: var(--light-pink);
}

.add-book-btn:focus {
    background-color: var(--darker-light-pink);
}

.column-titles,
.new-entry {
    display: grid;
    grid-template-columns: 40% 20% 10% 15% 5% 5%;
    gap: 1%;
}

form > div {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 0;
}


img {
    height: 1.5rem;
}